body {
  font-family: "Open Sans";
}
div.cont-1 {
  width: 45%;
  float:left;
  border-radius: 25px;
  background-color:rgba(200,200,200,0.75);
  padding: 1%;
  margin-bottom: 1%;
}
div.cont-2 {
  width: 45%;
  float: right;
  border-radius: 25px;
  background-color:rgba(200,200,200,0.75);
  padding: 1%;
  margin-bottom: 5%;
}
h1 {
text-transform: uppercase;
font-weight: bold;
letter-spacing: 5px;
font-size: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
  text-transform: uppercase;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

li a:hover:not(.active) {
  background-color: white;
  text-decoration: underline;
}

li a.current {
  background-color: white;
}
div.background {
  overflow: hidden;
  position: relative;
}
.demo-bg{
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
div.container {
  width: 79.7%;
  position: relative;
}
p {
  text-align: justify;
  max-width:600px;
  word-wrap:break-word;
  color: black;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 150px 50px 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}
.header {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 50%;
}
.essa {
    padding-left: 80px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: span 3;
    float:left;
    border-radius: 25px;
    background-color:rgba(200,200,200,0.75);
    padding: 1%;
    margin-bottom: 1%;
}
.teine {
    padding-left: 80px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: span 3;
    float:left;
    border-radius: 25px;
    background-color:rgba(200,200,200,0.75);
    padding: 1%;
    margin-bottom: 1%;
}
.kolmas {
    padding-left: 80px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 3;
    float:left;
    border-radius: 25px;
    background-color:rgba(200,200,200,0.75);
    padding: 1%;
    margin-bottom: 1%;
}